<!DOCTYPE html>
<html lang="en" dir="ltr">

<!-- * HEAD -->
<%- include(`../partials/head`) -%>

<!-- * BODY -->

<body>

    <!-- * Header -->
    <%- include(`../partials/header`) -%>

    <!-- * Main -->
    <main class="main">
        <div class="main--calendar">
            <div class="main--calendar--days">
                
            </div>
            <div id="carouselExampleControls" class="main--calendar--carousel carousel slide" data-bs-ride="false" data-bs-interval="false">
                <div class="main--calendar--carousel--inner carousel-inner">
                </div>
                <button class="
                main--calendar--carousel--button
                main--calendar--carousel--button--prev
                calendar--button
                calendar--prev carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" onclick="calendarJS.moveCalendarPage('previous','default')">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="
                main--calendar--carousel--button
                main--calendar--carousel--button--next
                calendar--button calendar--next carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" onclick="calendarJS.moveCalendarPage('next','default')">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </main>

    <!-- * Footer -->
    <%- include(`../partials/footer`) -%>

    <!-- * Activate Scripts -->
    <%- include(`../partials/activate-scripts`) -%>
</body>

</html>