  <footer class="footer">
    <div class="footer--socials">
      <a id="footer-link-github" class="footer-links" href="">
        <!-- <i class="fab fa-github-square"></i> -->
        <i class="fa-brands fa-github"></i>
      </a>
      <a id="footer-link-facebook" class="footer-links" href="">
        <!-- <i class="fab fa-facebook-square"></i> -->
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a id="footer-link-instagram" class="footer-links" href="">
        <!-- <i class="fab fa-instagram-square"></i> -->
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a id="footer-link-twitter" class="footer-links" href="">
        <!-- <i class="fab fa-twitter-square"></i> -->
        <i class="fa-brands fa-twitter"></i>
      </a>
    </div>
    <div class="footer--copyright">
      <p>© Kolehiyolo 2022</p>
    </div>
  </footer>