<header class="header">
  <nav class="header--navbar navbar navbar-expand-lg">
    <div class="header--navbar--title navbar-title">
      <a class="header--navbar--title--brand navbar-title-brand" href="/">über<span class="header--navbar--title--brand--blue">mensch</span>
      </a>
      <span class="header--navbar--title--divider"> | </span>
      <button class="header--navbar--title--context"><%-pageHeader%></button>
    </div>
    <button class="header--navbar--toggler navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="header--navbar--menu collapse navbar-collapse flex-row-reverse" id="navbarNav">
      <ul class="header--navbar--menu--ul navbar-nav">
        <!-- Grid View -->
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button
          header--navbar--menu--ul--li--mode
          header--navbar--menu--ul--li--mode--grid
          nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Grid" onclick="headerJS.changeViewMode('grid')">
            <i class="fa-solid fa-grip"></i>
          </button>
        </li>
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button
          header--navbar--menu--ul--li--mode
          header--navbar--menu--ul--li--mode--list
          nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="List" onclick="headerJS.changeViewMode('list')">
            <i class="fa-solid fa-list"></i>
          </button>
        </li>
        <!-- Month View -->
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button
          header--navbar--menu--ul--li--mode
          header--navbar--menu--ul--li--mode--month 
          nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Month" onclick="headerJS.changeViewMode('month')">
            <i class="fa-solid fa-calendar-days"></i>
          </button>
        </li>
        <!-- Week View -->
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button
          header--navbar--menu--ul--li--mode
          header--navbar--menu--ul--li--mode--week 
          nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Week" onclick="headerJS.changeViewMode('week')">
            <i class="fa-solid fa-calendar-week"></i>
          </button>
        </li>
        <!-- Day View -->
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button
          header--navbar--menu--ul--li--mode
          header--navbar--menu--ul--li--mode--date 
          nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Day" onclick="headerJS.changeViewMode('date')">
            <i class="fa-solid fa-calendar-day"></i>
          </button>
        </li>
        <span class="header--navbar--menu--ul--divider"> | </span>
        <!-- Deleted Posts -->
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button header--navbar--menu--ul--li--button--deleted nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deleted Posts" onclick="window.location.href = `/deleted`;">
            <!-- <button type="button" class="header--navbar--menu--ul--li--button header--navbar--menu--ul--li--button--deleted nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Deleted Posts" onclick="calendarJS.routeToDeleted()"> -->
            <i class="fa-solid fa-calendar-xmark"></i>
          </button>
        </li>
        <!-- Write a Post -->
        <li class="header--navbar--menu--ul--li nav-item">
          <button type="button" class="header--navbar--menu--ul--li--button header--navbar--menu--ul--li--button--add nav-link btn-tt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Write a Post" onclick="headerJS.writeForToday()">
            <i class="fa-solid fa-calendar-plus"></i>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
<script src="javascript/client/header.js"></script>