@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  font-size: 18px; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-placeholder); }

:root {
  --color-primary: rgba(88, 166, 240, 1);
  --color-primary-light: rgb(146, 201, 251);
  --color-dark: rgb(12, 80, 144);
  --color-element: rgb(15, 34, 58);
  --color-element-lighter: rgb(39, 41, 42);
  --color-background: rgb(14, 14, 14);
  --color-background-2: rgb(12, 31, 56);
  --color-white: rgba(255, 255, 255, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-text-lighter: rgba(158, 158, 158, 1);
  --color-disabled: rgb(61, 61, 61);
  --color-border: rgb(47, 53, 60);
  --color-element-translucent: rgba(15, 34, 58, 0.50);
  --gradient-stripe: linear-gradient(to right, #096fb8, #12d8fa, #a6f8ff); }

:root {
  --color-background: rgb(1, 4, 9);
  --color-element: rgb(22, 27, 34);
  --color-element-active: rgb(19, 35, 58);
  --color-border-active: rgb(30, 66, 115);
  --color-text: rgba(255, 255, 255, 1); }

:root {
  --font-serif: 'Merriweather', serif;
  --font-sans-serif: 'Montserrat', sans-serif; }

html {
  min-height: 100vh;
  scroll-behavior: smooth; }
  html * {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  html * {
    font-family: var(--font-sans-serif);
    color: var(--color-text); }
  html body {
    height: 100vh;
    max-height: 100vh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column; }
    html body .header {
      padding: 0;
      margin: 0 0 20px;
      position: relative;
      z-index: 10; }
      html body .header--navbar {
        background-color: var(--color-element);
        width: 100vw;
        padding: 10px 60px; }
        html body .header--navbar--title {
          color: var(--color-text);
          display: flex;
          flex-direction: row;
          font-size: 18px;
          gap: 10px; }
          html body .header--navbar--title--brand {
            font-weight: 500;
            text-decoration: none;
            transition: all 0.25s;
            text-shadow: 0px 0px 2px rgba(255, 255, 255, 0); }
            html body .header--navbar--title--brand--blue {
              color: var(--color-primary-light);
              transition: all 0.25s; }
            html body .header--navbar--title--brand:hover {
              color: var(--color-text) !important;
              text-shadow: 0px 0px 4px white; }
              html body .header--navbar--title--brand:hover * {
                color: var(--color-text) !important; }
          html body .header--navbar--title--context {
            font-weight: 300;
            background-color: var(--color-background);
            background-color: rgba(44, 70, 102, 0);
            border: none;
            transition: all 0.25s;
            text-shadow: 0px 0px 2px rgba(255, 255, 255, 0); }
            html body .header--navbar--title--context:hover {
              text-shadow: 0px 0px 4px white; }
            html body .header--navbar--title--context--date-picker {
              position: relative; }
              html body .header--navbar--title--context--date-picker--input {
                position: absolute;
                top: 0;
                left: 0;
                border: none;
                box-sizing: border-box;
                outline: 0;
                padding: .75rem;
                background-color: red;
                width: 100%;
                opacity: 0.5;
                opacity: 0;
                height: 100%; }
              html body .header--navbar--title--context--date-picker input[type="date"]::-webkit-calendar-picker-indicator {
                background: transparent;
                bottom: 0;
                color: transparent;
                cursor: pointer;
                height: auto;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: auto; }
        html body .header--navbar--menu--ul {
          gap: 10px;
          flex-direction: row;
          align-items: center; }
          html body .header--navbar--menu--ul--li--button {
            background-color: var(--color-element);
            border: solid 2px var(--color-border-active);
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 10px; }
            html body .header--navbar--menu--ul--li--button i {
              font-size: 20px;
              color: var(--color-text); }
            html body .header--navbar--menu--ul--li--button--add {
              background-image: var(--gradient-stripe);
              border: none; }
            html body .header--navbar--menu--ul--li--button--deleted {
              background-color: var(--color-disabled);
              border: none; }
          html body .header--navbar--menu--ul--li--mode__active {
            background-color: var(--color-dark); }
    html body .main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      overflow-y: hidden; }
      html body .main--list {
        padding: 0px 60px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        overflow-y: auto; }
        html body .main--list--item {
          background-color: var(--color-element-active);
          border-radius: 6px;
          border: solid 2px var(--color-border-active);
          display: flex;
          flex-direction: column;
          justify-content: stretch; }
          html body .main--list--item--upper {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            padding: 10px;
            background-color: var(--color-background) !important;
            border-radius: 6px 6px 0px 0px; }
            html body .main--list--item--upper--date {
              padding: 0px 10px;
              background-color: var(--color-element-active);
              border-radius: 10px;
              color: var(--color-primary); }
            html body .main--list--item--upper--title {
              flex-grow: 1; }
            html body .main--list--item--upper--buttons {
              display: flex;
              flex-direction: row;
              gap: 10px; }
              html body .main--list--item--upper--buttons form button {
                padding: 0px 5px;
                font-size: 14px;
                text-transform: uppercase; }
          html body .main--list--item--lower {
            padding: 10px; }
            html body .main--list--item--lower--body {
              font-size: 12px; }
      html body .main--grid {
        padding: 0px 60px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        overflow-y: auto; }
        html body .main--grid--item {
          background-color: var(--color-element-active);
          border-radius: 6px;
          border: solid 2px var(--color-border-active);
          display: flex;
          flex-direction: column; }
          html body .main--grid--item--upper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 10px;
            background-color: var(--color-background) !important;
            border-radius: 6px 6px 0px 0px; }
            html body .main--grid--item--upper--date {
              padding: 0px 10px;
              background-color: var(--color-element-active);
              border-radius: 10px;
              color: var(--color-primary); }
            html body .main--grid--item--upper--title {
              flex-grow: 1; }
          html body .main--grid--item--lower {
            padding: 10px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 10px; }
            html body .main--grid--item--lower--body {
              font-size: 12px;
              flex-grow: 1; }
            html body .main--grid--item--lower--buttons {
              display: flex;
              flex-direction: row;
              gap: 10px; }
              html body .main--grid--item--lower--buttons form button {
                padding: 0px 5px;
                font-size: 14px;
                text-transform: uppercase; }
      html body .main--calendar {
        flex-grow: 1;
        padding: 0px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 10px; }
        html body .main--calendar--days {
          padding: 0 60px; }
          html body .main--calendar--days--head {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            gap: 10px; }
            html body .main--calendar--days--head--day {
              border-radius: 6px;
              border: solid 2px var(--color-disabled);
              flex: 1 1 0;
              text-align: center; }
        html body .main--calendar--carousel {
          display: flex;
          flex-direction: column;
          justify-content: stretch;
          align-self: stretch;
          flex: 1 1 0; }
          html body .main--calendar--carousel--button {
            position: absolute;
            top: 50%;
            z-index: 10;
            border: none;
            background-color: var(--color-element-translucent);
            background-color: rgba(0, 0, 0, 0);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: 60px;
            height: 100%; }
            html body .main--calendar--carousel--button i {
              color: var(--color-white);
              font-size: 50px; }
            html body .main--calendar--carousel--button--prev {
              left: 0px;
              transform: translate(0%, -50%); }
            html body .main--calendar--carousel--button--next {
              right: 0px;
              transform: translate(0%, -50%); }
          html body .main--calendar--carousel--inner {
            flex-grow: 1;
            display: flex; }
            html body .main--calendar--carousel--inner--item--month {
              padding: 0px 60px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              height: 100%; }
              html body .main--calendar--carousel--inner--item--month--body {
                flex: 1 1 0;
                display: flex;
                flex-direction: column;
                justify-content: stretch;
                gap: 10px; }
                html body .main--calendar--carousel--inner--item--month--body--week {
                  display: flex;
                  flex-direction: row;
                  justify-content: stretch;
                  gap: 10px;
                  height: 100%; }
                  html body .main--calendar--carousel--inner--item--month--body--week--day {
                    background-color: var(--color-element);
                    border-radius: 6px;
                    flex: 1 1 0;
                    position: relative;
                    border: solid 2px var(--color-border-active);
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch; }
                    html body .main--calendar--carousel--inner--item--month--body--week--day--upper {
                      flex-grow: 0;
                      padding: 5px;
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      border-top: none;
                      border-left: none;
                      border-right: none;
                      border-radius: 6px 6px 0px 0px;
                      background-color: var(--color-background) !important; }
                      html body .main--calendar--carousel--inner--item--month--body--week--day--upper--date {
                        border-radius: 10px;
                        color: white;
                        padding: 0px 10px;
                        font-size: 13px;
                        user-select: none; }
                    html body .main--calendar--carousel--inner--item--month--body--week--day--lower {
                      position: relative;
                      flex-grow: 1;
                      border: none;
                      border-radius: 0px 0px 6px 6px; }
                      html body .main--calendar--carousel--inner--item--month--body--week--day--lower--title {
                        padding: 0px 10px;
                        text-align: center;
                        width: 100%;
                        font-size: 12px;
                        color: var(--color-white);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        user-select: none; }
                    html body .main--calendar--carousel--inner--item--month--body--week--day__noncurrent {
                      background-color: rgba(0, 0, 0, 0);
                      border-color: var(--color-disabled); }
                      html body .main--calendar--carousel--inner--item--month--body--week--day__noncurrent .calendar--day--date {
                        color: var(--color-text-lighter);
                        background-color: var(--color-background); }
                    html body .main--calendar--carousel--inner--item--month--body--week--day__active {
                      background-color: var(--color-dark);
                      border-color: var(--color-border-active); }
                      html body .main--calendar--carousel--inner--item--month--body--week--day__active .calendar--day--date {
                        background-color: var(--color-primary);
                        color: var(--color-element-active); }
                    html body .main--calendar--carousel--inner--item--month--body--week--day__current {
                      background-color: var(--color-element-active); }
                      html body .main--calendar--carousel--inner--item--month--body--week--day__current .calendar--day--date {
                        background-color: var(--color-primary-light);
                        background-color: var(--color-white);
                        background-color: var(--color-primary);
                        background-color: var(--color-element-active); }
            html body .main--calendar--carousel--inner--item--week {
              padding: 0px 60px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              height: 100%;
              justify-content: center;
              align-items: center; }
            html body .main--calendar--carousel--inner--item--date {
              padding: 0px 60px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              height: 100%;
              justify-content: center;
              align-items: center; }
      html body .main--compose {
        flex-grow: 1;
        padding: 0px 60px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: stretch; }
        html body .main--compose--form {
          display: flex;
          flex-direction: column;
          gap: 20px;
          flex-grow: 1; }
          html body .main--compose--form--header {
            display: flex;
            flex-direction: row;
            gap: 20px; }
            html body .main--compose--form--header--title {
              flex-grow: 1; }
          html body .main--compose--form--body {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            gap: 20px; }
            html body .main--compose--form--body--left {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
              justify-content: stretch; }
              html body .main--compose--form--body--left--body {
                display: flex;
                align-self: stretch;
                flex-direction: column;
                justify-content: stretch;
                flex-grow: 1; }
                html body .main--compose--form--body--left--body .compose-body {
                  height: 100%; }
            html body .main--compose--form--body--right {
              display: flex;
              flex-direction: column;
              gap: 20px; }
              html body .main--compose--form--body--right--date {
                width: 240px;
                position: relative; }
                html body .main--compose--form--body--right--date .fa-calendar-days {
                  position: absolute;
                  top: 50%;
                  right: 20px;
                  font-size: 24px;
                  pointer-events: none;
                  transform: translate(0, -50%);
                  color: white; }
          html body .main--compose--form--footer {
            display: flex;
            flex-direction: row;
            gap: 20px; }
            html body .main--compose--form--footer--submit button {
              border: none; }
            html body .main--compose--form--footer--draft button {
              background-color: var(--color-disabled) !important;
              border: none; }
          html body .main--compose--form .form-group .compose-title, html body .main--compose--form .form-group .compose-theme, html body .main--compose--form .form-group .compose-date, html body .main--compose--form .form-group .compose-body {
            background-color: var(--color-background);
            color: var(--color-text);
            border: solid 2px var(--color-dark); }
          html body .main--compose--form .form-group .compose-title, html body .main--compose--form .form-group .compose-submit, html body .main--compose--form .form-group .compose-date, html body .main--compose--form .form-group .compose-draft {
            font-size: 25px; }
          html body .main--compose--form .form-group .compose-theme, html body .main--compose--form .form-group .compose-body {
            font-size: 14px;
            height: 100%;
            flex-grow: 1; }
      html body .main--post {
        flex-grow: 1;
        padding: 0px 60px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 20px; }
        html body .main--post--content {
          flex: 1 1 0; }
          html body .main--post--content--title {
            padding: 6.75px 0px;
            font-size: 25px; }
          html body .main--post--content--body {
            padding: 6.75px 0px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px; }
        html body .main--post--buttons {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 10px; }
      html body .main--deleted {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding: 0px 60px;
        overflow-y: auto; }
        html body .main--deleted--post {
          padding: 20px;
          border: white solid 1px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-radius: 5px;
          box-sizing: border-box; }
      html body .main .theme--bloodthirst.main--calendar--carousel--inner--item--month--body--week--day__current {
        border-color: rgba(255, 0, 0, 0.438);
        background-color: rgba(255, 0, 0, 0.096); }
        html body .main .theme--bloodthirst.main--calendar--carousel--inner--item--month--body--week--day__current .main--calendar--carousel--inner--item--month--body--week--day--upper--date {
          background-color: rgba(255, 0, 0, 0.219); }
      html body .main .theme--inferno.main--calendar--carousel--inner--item--month--body--week--day__current {
        border-color: rgba(255, 166, 0, 0.431);
        background-color: rgba(255, 166, 0, 0.103); }
        html body .main .theme--inferno.main--calendar--carousel--inner--item--month--body--week--day__current .main--calendar--carousel--inner--item--month--body--week--day--upper--date {
          background-color: rgba(255, 166, 0, 0.219); }
      html body .main .theme--radiance.main--calendar--carousel--inner--item--month--body--week--day__current {
        border-color: rgba(255, 255, 0, 0.43);
        background-color: rgba(255, 255, 0, 0.1); }
        html body .main .theme--radiance.main--calendar--carousel--inner--item--month--body--week--day__current .main--calendar--carousel--inner--item--month--body--week--day--upper--date {
          background-color: rgba(255, 255, 0, 0.219); }
      html body .main .theme--evergreen.main--calendar--carousel--inner--item--month--body--week--day__current {
        border-color: rgba(0, 255, 0, 0.43);
        background-color: rgba(0, 255, 0, 0.1); }
        html body .main .theme--evergreen.main--calendar--carousel--inner--item--month--body--week--day__current .main--calendar--carousel--inner--item--month--body--week--day--upper--date {
          background-color: rgba(0, 255, 0, 0.22); }
    html body .footer {
      padding: 20px 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      html body .footer--socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center; }
        html body .footer--socials a {
          text-decoration: none;
          flex-grow: 1;
          flex-basis: 0; }
          html body .footer--socials a i {
            width: 30px;
            text-align: center;
            font-size: 20px;
            color: var(--color-text-lighter);
            transition: all 0.1s; }
            html body .footer--socials a i:hover {
              color: var(--color-primary); }
      html body .footer--copyright p {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-style: italic;
        font-size: 14px;
        color: var(--color-text-lighter); }
