body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.card {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    border: solid 1px rgba(0,0,0,0.25);
}

.card-img {
    /* height: 150px; */
    height: 125px;
    object-fit: cover;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.navbar-nav a:hover {
    color: #1abc9c !important;
}

.navbar-collapse {
    flex-direction: row-reverse;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	/* position: absolute; */
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc42;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.btn-primary {
    border-color: green;
    background-color: green;
}

.btn-primary:hover {
    background-color: rgb(6, 78, 6);
}