.footer {
    // * Main
    padding: 20px 60px;
    // background-color: var(--color-element-lighter);

    // * Flexbox
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .footer-links {
            text-decoration: none;
            flex-grow: 1;
            flex-basis: 0;

            i {
                width: 30px;
                text-align: center;
                font-size: 25px;
            }
        }
    }

    &--copyright {
        p {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-style: italic;
        }
    }

}