:root {
    --color-primary: rgba(88, 166, 240, 1);
    --color-primary-light: rgb(146, 201, 251);
    // --color-primary-light: rgb(146, 201, 251);
    --color-dark: rgb(12, 80, 144);
    // --color-element: rgba(22, 27, 34, 1);
    // --color-element: rgb(23, 31, 41);
    --color-element: rgb(15, 34, 58);
    --color-element-translucent: rgba(22, 27, 34, 0.75);
    --color-element-lighter: rgb(39, 41, 42);
    --color-background: rgba(13, 17, 23, 1);
    --color-background-2: rgb(12, 31, 56);
    --color-white: rgba(255, 255, 255, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-text-lighter: rgba(158, 158, 158, 1);
    --color-disabled: rgb(61, 61, 61);
    --color-border: rgb(47, 53, 60);
    --gradient-stripe: linear-gradient(to right, #096fb8, #12d8fa, #a6f8ff);
    --color-element-translucent: rgba(15, 34, 58, 0.50);
    // --color-border: rgb(48,54,61);
    // --gradient-stripe: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    // --gradient-stripe: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}