// :root {
//     --color-primary: rgb(156, 156, 156);
//     --color-primary-light: rgb(221, 221, 221);
//     --color-dark: rgb(85, 85, 85);
//     --color-element: rgb(42, 42, 42);
//     --color-element-lighter: rgb(39, 41, 42);
//     --color-background: rgb(14, 14, 14);
//     --color-background-2: rgb(29, 29, 29);
//     --color-white: rgba(255, 255, 255, 1);
//     --color-text: rgba(255, 255, 255, 1);
//     --color-text-lighter: rgba(158, 158, 158, 1);
//     --color-disabled: rgb(61, 61, 61);
//     --color-border: rgb(47, 53, 60);
//     --color-element-translucent: rgba(37, 37, 37, 0.5);
//     --gradient-stripe: linear-gradient(to right, #096fb8, #12d8fa, #a6f8ff);
//  }

:root {
    // --color-primary: rgb(156, 156, 156);
    // --color-primary-light: rgb(221, 221, 221);
    // --color-dark: rgb(85, 85, 85);
    // --color-element-translucent: rgba(37, 37, 37, 0.5);
    // --color-background-2: rgb(29, 29, 29);
    // --color-element: rgb(42, 42, 42);

    --color-primary: rgba(88, 166, 240, 1);
    --color-primary-light: rgb(146, 201, 251);
    --color-dark: rgb(12, 80, 144);
    --color-element: rgb(15, 34, 58);
    --color-element-lighter: rgb(39, 41, 42);
    --color-background: rgb(14, 14, 14);
    --color-background-2: rgb(12, 31, 56);
    --color-white: rgba(255, 255, 255, 1);
    --color-text: rgba(255, 255, 255, 1);
    --color-text-lighter: rgba(158, 158, 158, 1);
    --color-disabled: rgb(61, 61, 61);
    --color-border: rgb(47, 53, 60);
    --color-element-translucent: rgba(15, 34, 58, 0.50);
    --gradient-stripe: linear-gradient(to right, #096fb8, #12d8fa, #a6f8ff);

    // --color-primary-light: rgb(146, 201, 251);
    // --color-element: rgba(22, 27, 34, 1);
    // --color-element: rgb(23, 31, 41);
    // --color-background: rgba(13, 17, 23, 1);
    // --color-element-translucent: rgba(32, 32, 32, 0.75);
    // --color-border: rgb(48,54,61);
    // --gradient-stripe: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    // --gradient-stripe: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
}