&--post {
    flex-grow: 1;
    padding: 0px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: 20px;

    &--content {
        flex: 1 1 0;

        &--title {
            // padding: 6.75px 13.5px;
            // padding: 0 13.5px;
            padding: 6.75px 0px;
            font-size: 25px;
        }
        
        &--body {
            // padding: 6.75px 13.5px;
            // padding: 0 13.5px;
            padding: 6.75px 0px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &--buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;

        &--edit {

        }

        &--delete {

        }
    }
}